<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="navbar" class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <div>
                <span class="navbar-brand mb-0 h1">Best of the year</span>
            </div>

            <div>
                <a class="navbar-brand" href="movies">Movies</a>
                <a class="navbar-brand" href="songs">Songs</a>
            </div>
            <div>
                <img src="/img/best-year-logo.png" alt="best-of-year" class="navbar-logo" />
            </div>

        </div>

    </nav>

</body>

</html>