<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best of the year</title>


    <!-- Boostrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />

</head>



<body>
    <header th:insert="~{fragments/navbar :: navbar}"/>
    
    <main>
        <h1>Best of the year by <span th:text="${name}" /></h1>
    </main>



</body>

</html>