<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>

    <!-- Boostrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body class="container">
    <h1 class="text-center">Golden Age of Hip-Hop</h1>
    <h2 class="mt-3 mb-3">I titoli che hanno fatto la storia</h2>

    <div class="d-flex justify-content-between">
        <a th:each="song : ${songs}" th:href="@{/songs/{id}(id=${song.id})}"
            class="d-flex flex-column  border border-1 p-2">
            <div th:text="|Titolo della canzone: ${song.titolo}|"></div>
            <div th:text="|Nome artista: ${song.nomeArtista}|"></div>
        </a>
    </div>
    <div th:insert="~{fragments/buttons :: button('/', 'Home Page')}" class="mt-5"></div>



</body>

</html>