<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>

    <!-- Boostrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <h1 th:text="${song.getTitolo()}"></h1>
    <span th:text="${song.getNomeArtista}" />
    <div th:insert="~{fragments/buttons :: button('/', 'Home Page')}"></div>



</body>

</html>